DC
eof
Devel
ISA
cpan
lnum
md
todo
attrs attr
bool
dosomething
Templ
mk
lm
DIRS

%path Lines.pm
CRLF
NL

%path Makefile.PL
Ext
PREREQ
Utils

%path release.mk
DIST
SRC
dist
disttest
fi
mv
realclean
uniq

%path TestTester.pm
subr

%path TODO.txt
Doctest
crdlo
doctests
expandtab
https
metacpan
smarttab
sw
tw
